<!DOCTYPE html>
<html>
    <head>
        <title>메인페이지</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <style>
            @import url(//fonts.googleapis.com/earlyaccess/hanna.css);

            h1{ font-family: 'Hanna', sans-serif;}
            h3{ font-family: 'Hanna', sans-serif; }
            button{ font-family: 'Hanna', sans-serif; }
               
         
        </style>
    </head>
    <body>
    
       <h1><p class="text-center">🧡💚💙💜💛🖤</p></h1>
       <h1><p class="text-center">안녕하세요. 로또 프로그램입니다.</p></h1>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <h1><p class="text-center">  1등: 6개 / 2등 : 5개 / 3등 : 4개 / 4등 : 3개 / 5등 : 2개 / 0등 : 꽝!!!(0~1개) </p></h1> 
        <br>
        <br>
        <h3><p class="text-center">1~45사이의 숫자 6개를 입력하세요.</p></h3> 
       
        <div class="row text-center" style="width: 100%"></div>
        <form action="{%url 'result' %}">
            <div style="width: 10%; float:none; margin:0 auto" >
                <input type ="number" min="1" max="45" step="1" value="1" name="n1">
                <input type ="number" min="1" max="45" step="1" value="1" name="n2">
                <input type ="number" min="1" max="45" step="1" value="1" name="n3">
                <input type ="number" min="1" max="45" step="1" value="1" name="n4">
                <input type ="number" min="1" max="45" step="1" value="1" name="n5">
                <input type ="number" min="1" max="45" step="1" value="1" name="n6">
            </div>
        </div>

            <br> 
            <br>
            <div class="row text-center" style="width: 100%">
 
                <div style="width: 30%; float:none; margin:0 auto" >
                        <button class="btn btn btn-danger btn-lg" style="width: 100%">결과는?</button>

                        
                </div>
            </div>

            
        </from>
    </body>
</html>

